/*
Pagina monitor.php
*/
.cabecalho{
  color: #000000;
  font-size: 200%;
  font-weight: bold;
}
.categoria{
  color: #000000;
  font-size: 125%;
  font-weight: bold;
}
.host{
  color: #000000;
  font-size: 120%;
}
/*
Pagina cadastro.php
*/
.topo{
  color:#000000;
  font-size: 200%
  font-weight: bold;
}
.descricao{
  color: #000000;
  font-size: 120%
  font-weight: bold;
}
.rodape{
  color: #000000;
  font-size: 120%;
}
